/**
 艺同六艺的音乐demo css
 */

html {
    overflow-x: hidden;
}

body {
    font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', sans-serif;
    color: #65696F;
    background: transparent url('/assets/images/logo-small.png');
    overflow-x: hidden;
}

.class-row{
    padding: 20px 0;
}
.class-title{
    font-size: 16px;
}
.imgs-class {
    text-align: center;
    padding: 10px;
}
.imgs-class img {
    max-width: 360px;
}
.img-avatar{
    width: 45px;
    height: 45px;
}


/**

 */
#player1 {
    width: 90%;
    position: fixed;
    bottom: 10px;
}